---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Elégance institut Carmabelor | Institut de Beauté & Bien-être à Toulouse dans le quartier des Carmes">

    <section 
        class="hero min-h-[70vh] bg-base-100" style="background-image: url('https://images.unsplash.com/photo-1560750588-73207b1ef5b8?q=80&w=2070&auto=format&fit=crop');"
    >

        <div class="hero-overlay bg-opacity-40"></div>

        <div class="hero-content text-center text-neutral-content">
            <div class="max-w-md">
                <h1 class="mb-5 text-5xl font-bold">Un instant pour vous</h1>
                <p class="mb-5">Découvrez une gamme de soins personnalisés dans une ambiance chaleureuse et apaisante.</p>
                <a href="/prestations" class="btn btn-primary">Découvrez nos prestations</a>
            </div>
        </div>
    </section>

    <section id="incontournables" class="py-16 px-4 max-w-6xl mx-auto">
        <h2 class="text-3xl font-bold text-center mb-10">Nos Incontournables</h2>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
            <div class="card bg-base-100 shadow-xl border border-base-200">
                <div class="card-body">
                <h2 class="card-title text-primary font-serif">Soin Visage Maria Galland</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet quaerat eum nemo hic ullam eligendi,</p>
                </div>
            </div>

            <div class="card bg-base-100 shadow-xl border border-base-200">
                <div class="card-body">
                <h2 class="card-title text-primary font-serif">Epilation à la cire</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet quaerat eum nemo hic ullam eligendi,</p>
                </div>
            </div>

            <div class="card bg-base-100 shadow-xl border border-base-200">
                <div class="card-body">
                <h2 class="card-title text-primary font-serif">Soins du Corps</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet quaerat eum nemo hic ullam eligendi,</p>
                </div>
            </div>
        </div>
    </section>
</Layout>