<header class="navbar bg-white/40 backdrop-blur-xl sticky top-0 z-[100] border-b border-primary/5 px-4 md:px-12 shadow-sm">
    <div class="navbar-start">
        <div class="dropdown">
            <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" />
                </svg>
            </div>
            <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow-xl bg-base-100 rounded-box w-52 border border-primary/10">
                <li><a href="/" class="active:bg-primary">Accueil</a></li>
                <li><a href="/prestations">Nos prestations</a></li>
                <li><a href="/produits">Les produits</a></li>
                <li><a href="/institut">L'institut</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </div>
        
        <div class="hidden lg:flex">
            <ul class="menu menu-horizontal px-1 gap-2">
                <li><a href="/" class="hover:text-primary transition-colors font-medium">Accueil</a></li>
                <li><a href="/prestations" class="hover:text-primary transition-colors font-medium">Nos prestations</a></li>
                <li><a href="/produits" class="hover:text-primary transition-colors font-medium">Les produits</a></li>
                <li><a href="/institut" class="hover:text-primary transition-colors font-medium">L'institut</a></li>
            </ul>
        </div>
    </div>

    <div class="navbar-center">
        <a href="/" class="flex flex-col items-center group py-2">
            <span class="text-3xl md:text-4xl font-serif italic text-primary leading-none tracking-tight">
                Élégance
            </span>
            
            <div class="w-12 h-[1px] bg-primary/30 my-1 group-hover:w-20 transition-all duration-500"></div>
            
            <span class="text-[10px] md:text-xs font-sans tracking-[0.3em] text-neutral uppercase font-light">
                Institut <span class="font-bold text-primary">Carmabelor</span>
            </span>
        </a>
    </div>

    <div class="navbar-end">
        <div class="hidden lg:flex mr-4">
            <ul class="menu menu-horizontal px-1">
                <li><a href="/contact" class="hover:text-primary transition-colors font-medium">Contact</a></li>
            </ul>
        </div>
        <a href="https://www.kalendes.com/site/eleganceinstitutcarmabelor/reserveWithGoogle?hl=fr-FR&gei=pISNada9Ernz7M8P3KOImAc&rwg_token=AFd1xnGIgaSCAxwGofwNHTKxw--QfOsxbvmqf17YXL7Oeiz2TmjwK_8eGWMIxYy88i5Ip4dqKVtMEeKWS9PWk-tTDlwbIu4Fuw%3D%3D" class="btn btn-primary btn-sm md:btn-md rounded-full px-6 shadow-md hover:shadow-lg transition-all" target="_blank">
            Rendez-vous
        </a>
    </div>
</header>